@font-face {
    font-family: 'Mostera';
    src: url('Mostera-Regular.woff2') format('woff2'),
        url('Mostera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

