@font-face {
    font-family: 'Staylista';
    src: url('Staylista-Regular.woff2') format('woff2'),
        url('Staylista-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

